.listContainer {
  border: 1px solid var(--primary);
  border-radius: 30px;
  overflow-y: auto;
  margin-top: 20px;
  height: 100%;
  max-height: calc(100vh - 180px);

  .helpercontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 200px;
  }
}
